body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
}
img {
    border: none;
}
li {
    list-style: none;
}
input, select, textarea {
    outline: none;
    border: 0;
}
textarea {
    resize: none;
}
a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.clearfix{content: ""; clear: both;display: block}
.mt12{margin-top: 12px!important;}
.mt15{margin-top: 15px;}
.hr25{display: block;height: 25px;}
.comWidth{
    width: 1240px;
    margin: 0 auto;
}
.top_header{
    width: 100%;
    height: 67px;
    background:url("../image/bg/topbk.png") left center repeat-x;
}
.top_header .logo{
    width: 168px;
    height: 67px;
    float: left;
}
.top_header .logo img{width: 100%;height: 100%;}
.top_header .nav{float: left;width: 630px;}
.top_header .nav .nav_li {
    float: left;
    width: 90px;
    height: 8px;
    text-align: center;
    font-size: 18px;
    position: relative;
}
.top_header .nav .nav_li span a{display: block;line-height: 67px;}
.top_header .nav .on{
    background-color: #bb0009;
}
.top_header .nav .sub{
    width: 500px;
    background-color: #f0f0f0;
    position: absolute;
    top: 67px;
    left: 0;
    padding: 5px 0;
    border: 1px solid #E0E0E0;
    z-index: 99;
}
.top_header .nav .sub li{
    width: 99px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0;
    border-right: #666 1px solid;
}
.top_header .nav .sub li:nth-child(5){border: none;}
.top_header .nav .sub li a{color: #666666;}
.top_header .nav .sub li a:hover{color: red;}
.top_header .search_box{float: right;margin-top: 14px;}
.top_header .search_box .search_con{
    height: 30px;
    width: 180px;
    border: #c30d23 1px solid;
    border-radius: 15px;
    margin-right: 15px;
    outline: medium;
    text-indent: 10px;
    background-color: white;
    float: left;
}
.top_header .search_box .search_con input{line-height: 30px;width: 157px;}
.top_header .search_box .search_btn{float: right;}
.top_header .search_box .search_btn:hover{cursor: pointer;}
.header_bg_line{width: 100%;height: 5px;background-color: #ededed;}
.content-box{overflow: hidden;}
.index_left{width: 925px;float: left;overflow: hidden}
.index_right{width: 304px;float: right;overflow: hidden;}
.index_banner{width: 100%;height: 460px;overflow: hidden;position: relative;}
.index_banner ul{position: relative;}
.index_banner li{float: left;width: 925px;position: relative;}
.index_banner .tit{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 2px;
    left: 0;
    background: rgba(81,86,91,0.8);
    text-indent: 50px;
}
.index_banner .prev{
    display: none;
    background: url("../image/bg/prev.png");
    width: 20px;
    height: 35px;
    position: absolute;
    left: 30px;
    top: 200px;
}
.index_banner .next{
    display: none;
    background: url("../image/bg/next.png");
    width: 20px;
    height: 35px;
    position: absolute;
    right: 30px;
    top: 200px;
}
.index_banner .prev,.index_banner .next:hover{cursor: pointer;}
.l3{margin-top: 15px;overflow: hidden;}
.l3-1{width: 300px;height: 245px;float: left;position: relative}
.l3-1 img{width: 300px;height: 245px;}
.l3-2{margin: 0 12.5px}
.l3-1 .tit{
    font-size: 14px;
    color: white;
    padding: 15px 10px 10px 10px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(102,102,102,0.8);
}
.l4{margin-top: 10px;border: #eee 1px solid;}
.l5{margin-top: 15px;padding: 5px 27px 0 25px;border: #eee 1px solid;}
.l5-1{overflow: hidden;padding: 10px 0;border-bottom: #eee 1px solid;}
.l5-1-1{float: left;width: 300px;position: relative}
.l5-1-1 img{width: 300px;height: 175px;}
.l5-1-1 span{
    position: absolute;
    top:10px;left: 5px;
    display: inline-block;
    padding: 1px 10px 3px 10px;
    border-radius: 14px;
    background-color: rgba(51,51,51,0.8);
    font-size: 16px;
    color: white;
}
.l5-1-2{float: left;margin-left: 10px;width: 557px;height: 175px;position: relative;}
.l5-1-2-1{
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.l5-1-2-2{
    color: #999;
    line-height: 25px;
    font-size: 14px;
    text-indent: 2em;
    max-height: 70px;
    overflow: hidden;
}
.l5-1-2-3{color: #999;font-size: 14px;line-height:50px;position: absolute;bottom: 0;left: 0;}
.l5-2{
    color: #666;font-size: 18px;font-weight: bold;
    line-height: 46px;text-align: center;width: 412px;
    border: #666666 1px solid;
    border-radius: 15px;
    margin: 22px auto;
}
.r1{padding-top: 10px;overflow: hidden;}
.r1-1{float: left;width: 219px;height: 301px;}
.r1-1 img{width: 100%;height: 100%;}
.r1-1 p{color: white;line-height: 40px;font-size: 18px;text-align: center; background-color: rgba(34,34,34,0.5);position: relative;top: -40px}
.r1-1 p a{color: white;}
.r1-2{float: left;margin-left: 10px;width: 75px;}
.r1-2 img{width: 100%; height: 301px;}
.r2{background-color: #f5f6f1;margin-top: 10px}
.r2 li{margin-bottom: 18px;}
.r2 li p{
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    padding-left: 40px;
    background: url("../image/src/5958.png") left center no-repeat;
}
.r2-1-2{
    line-height: 30px;
    font-size: 14px;
    color: #999999;
    padding-left: 40px;
}
.r3{margin-top: 5px;}
.r4{margin-top: 20px;}
.r5{width: 100%;background-color: #c11920;}
.r5 .r5-1 a{display: inline-block;font-size: 20px;line-height: 50px;color: white;float: right;padding-right: 5px;font-family: "Microsoft YaHei"}
.r5-2{background-color: #f5f6f1;}
.r5-2-1{padding: 20px 22px 20px 10px;overflow: hidden;border-bottom: #333333 1px solid}
.r5-2-1-1{float: left;width: 120px;}
.r5-2-1-1 img{border-radius: 15px;width: 100%;height: 72px;}
.r5-2-1-2{float: left;width: 140px;margin-left: 10px;}
.r5-2-1-2 p{font-size: 14px;line-height: 18px;}
.r5-2-1-2 span{font-size: 12px;color: #666666;font-family: "Microsoft YaHei";margin-top: 18px;display: inline-block;}
.r6{width: 100%;margin-top: 25px;}
.r6 img{width: 100%;}

.brand-show{border: #eee 1px solid;margin-top: 20px;}
.brand-show .tit{height: 40px;line-height: 40px;}
.brand-show .tit p{padding-right: 15px;margin-left:50px; color: #c30d23;font-size: 22px;border-bottom: #c30d23 4px solid;display: inline-block}
.brand-show .brand-box .brand-window{
    width: 1136px;height: 150px;margin: 0 auto;overflow: hidden;
}
.brand-show .brand-box{
    margin-top: 25px;
    position: relative;
}
.brand-show .brand-box .brand-window li{
    float: left;
    margin: 0 6px;
    width: 216px;
    height: 150px;
}
.brand-show .brand-box .brand-window li img{width: 100%;height: 100%;}
.brand-show .brand-box .brand-window li p{
    background: rgba(102,102,102,0.8);
    height: 30px;
    line-height: 30px;
    position: relative;
    top: -30px;left: 0;
    color: white;
    text-align: center;
    font-size: 16px;
}
.brand-show .b_prev{
    background: url("../image/bg/left.gif") left top no-repeat;
    display: inline-block;
    width: 32px;
    height: 149px;
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}
.brand-show .b_next{
    background: url("../image/bg/right.gif") left top no-repeat;
    display: inline-block;
    width: 32px;
    height: 149px;
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}
.footer{
    background-color:#2d3237;
    margin-top: 20px;
}
.footer .footer-content{
    /*overflow: hidden;*/
}
.footer-l1{
    margin-top: 40px;
    overflow: hidden;

}
.footer .site_desc{
    margin-top: 40px;
    float: left;
    width: 375px;
}
.footer .site_desc p{
    width: 345px;
    line-height: 30px;
    font-size: 12px;
    color: #abadaf;
    margin-top: 15px;
}
.footer .site_map{
    float: left;
    width: 484px;
    height: 190px;
    border-right: white 1px solid;
    border-left: white 1px solid;
    margin-top: 66px;
}
.footer .site_map .site_url{
    margin: 0 auto;
    width: 403px;
    overflow: hidden;
    margin-bottom: 18px;
}
.footer .site_map .site_url li{
    float: left;
    width: 100px;
    text-align: center;
    border-right: white 1px solid;
}
.footer .site_map .site_url li:nth-last-child(1){
    border-right: none;
}
.footer .site_map .site_url li a{
    font-size: 16px;
    color: #abadaf;
}
.footer .site_map p{
    line-height: 33px;
    color: #abadaf;
    font-size: 16px;
    padding-left: 37px;
}
.footer .about{
    width: 379px;
    margin-top: 72px;
    float: left;
}
.footer .about p{
    padding-left: 60px;
    font-size: 16px;
    color: #abadaf;
}
.footer .about .app{
    float: left;
    margin-left: 60px;
    margin-top: 40px;
    position: relative;
}
.footer .about .app .Rcode{
    width: 150px;
    height: 150px;
    display: none;
    position: absolute;
    left: 30px;
    top:-170px;
}
.footer .footer-bottom{
    width: 100%;
    background-color: #23282d;
    color: #abadaf;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
#back-top{
    display: none;
}
#back-top a:hover{
    background-color: black;
}
#back-top a{
    background: url("../image/src/icon02.png") center center no-repeat;
    background-color: #02a2aa;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}